.input_field {
    position: relative;
    width: 100%;
}

.input_field input {
    height: 50px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 0 10px;
    color: #fff;
    font-size: 19px;
    margin: 15px 0 15px 0;
}

.input_field input::-webkit-input-placeholder {
    font-family: Roboto, 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #949494;
}

.input_field label {
    font-family: Roboto, 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #a6a6a6;
    position: absolute;
    top: -8px
}

