.added_client_form {
    background: #363636;
    padding: 20px 40px 20px 20px;
    color: #fff;
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.block_item {
    max-width: 600px;
    width: 500px;
    margin-top: 30px;
}

.first_box{
    display: flex;
    justify-content: space-between;
}

.block_item p {
    width: 100%;
    padding: 0;
    margin: 0;
    color: #b9b9b9;
    border-bottom: 1px solid #b9b9b9;
    padding: 25px 0 9px 0;
    font-size: 19px;
    font-weight: 700;
}

.pasport_number {
    display: flex;
    justify-content: space-between;
}

.pasport {
    max-width: 170px;
}

